@use '../scss/variables' as *;
@use '../scss/mixins' as m;

.card {
  display: flex;
  flex-direction: column;
  gap: $pad-md;
  justify-content: center;
  align-items: center;
  padding: $pad-lg;
  max-width: 45ch;
  border-radius: $pad-md;
  box-shadow: $shadow-1;
  background-color: m.dp(1);
}

.hello {
  text-align: center;
}

.theme-toggle-btn {
  text-transform: capitalize;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: $fs-sm;
  padding: $pad-xs;
  border: none;
  border-radius: $pad-xs;
  outline: none;
  background-color: $clr-primary;
  color: $fc-on-primary;

  &:hover {
    background-color: m.lightness($clr-primary, 1.03);
  }

  &:active {
    background-color: m.lightness($clr-primary, .95);
  }
}