@use './variables' as *;

// ########################################
// ####             RESET              ####
// ########################################
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  background-color: $bg-clr;
}

ul {
  list-style: none;
}

img {
  height: auto;
  max-width: 100%;
}

// ########################################
// ####          BASE STYLES           ####
// ########################################
#root {
  height: 80%;
  padding: $pad-md;
  display: flex;
  justify-content: center;
  align-items: center;
}