@use './mixins' as m;

$THEMES: (
  light: (
    // background color
    bg-colors: (
      bg-clr: hsl(0, 0%, 100%),
    ),

    // brand colors (i.e., mutable colors)
    brand-colors: (
      clr-primary: hsl(219, 79%, 85%),
      clr-primary-var: hsl(219, 79%, 48%),
      clr-secondary: hsl(96, 42%, 61%),
      clr-secondary-var: hsl(96, 42%, 28%),
      clr-error: #B00020,
    ),

    // font colors
    font-colors: (
      fc-high-contrast: hsl(232, 11%, 15%),
      fc-low-contrast: hsl(232, 11%, 32%),
      fc-on-primary: hsl(232, 11%, 15%),
    ),

    // shadows
    misc: (
      shadow-1: #{rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px},
    ),
  ),
  dark: (
    // background color
    bg-colors: (
      bg-clr: hsl(232, 11%, 15%),
    ),

    // brand colors (i.e., mutable colors)
    brand-colors: (
      clr-primary: hsl(267, 96%, 80%),
      clr-primary-var: hsl(258, 100%, 35%),
      clr-secondary: hsl(43, 74%, 65%),
      clr-secondary-var: hsl(43, 74%, 32%),
      clr-error: #EF8888,
    ),

    // font colors
    font-colors: (
      fc-high-contrast: hsl(240, 10%, 88%),
      fc-low-contrast: hsl(240, 10%, 71%),
      fc-on-primary: hsl(232, 11%, 15%),
    ),

    // shadows
    misc: (
      shadow-1: none,
    ),
  )
);

@mixin createThemedStyles($theme) {
  color-scheme: #{$theme};
  $theme-map: map-get($THEMES, $theme);
  @each $category, $styles in $theme-map {
    @each $name, $value in $styles {
      @if $category == 'bg-colors' {
        @include m.surfaceColors($value);
      } @else if $category == 'brand-colors' {
        @include m.defineColor(--#{$name}, $value);
      } @else if $category == 'font-colors' {
        --#{$name}: #{$value};
      } @else if $category == 'misc' {
        --#{$name}: #{$value};
      }
    }
  }
}

body {
  @include createThemedStyles(light);
  
  &.dark-theme {
    @include createThemedStyles(dark);
  }
}

@media (prefers-color-scheme: dark) {
  body {
    @include createThemedStyles(dark);
    
    &.light-theme {
      @include createThemedStyles(light);
    }
  }
}
