$shardar: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
$dark-bg-clr: hsl(232, 11%, 15%);

$themes: (
  light: (

  ),
  dark: (
    bg-clr: hsl(232, 11%, 15%),
  )
);

@mixin light-theme {
  color-scheme: light;
  --clr-primary: #7FA7F0;
  --bg-clr: #fff;
  --surface-1-clr: #fff;
  --surface-2-clr: #eee;
  --fc-primary: hsl(240, 4%, 20%);
  --fc-on-primary: #000;
  --shadow-1: #{$shardar};
}

@mixin dark-theme {
  color-scheme: dark;
  --clr-primary: #BB86FC;
  --clr-primary-var: #3700B3;
  --clr-secondary: #03DAC5;
  --bg-clr: #{map-get(map-get($themes, dark), bg-clr)};
  --surface-1-clr: #{mix(map-get(map-get($themes, dark), bg-clr), #fff, 96%)};
  --surface-2-clr: #{mix(map-get(map-get($themes, dark), bg-clr), #fff, 92%)};
  --fc-primary: #DDDDE3;
  --fc-on-primary: #000;
  --shadow-1: none;
}

body {
  @include light-theme;
  
  &.dark-theme {
    @include dark-theme;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    @include dark-theme;
    
    &.light-theme {
      @include light-theme;
    }
  }
}

body {
  background-color: var(--bg-clr);
}
