@use 'sass:color';

// ########################################
// ####           MIXINS FOR           ####
// ####     DEFINING THEME COLORS      ####
// ########################################
// Save hue, sat., and lum. as separate css custom props
@mixin defineColorHSL($name, $hue, $saturation, $lightness) {
  #{$name}: unquote("hsl(#{$hue}, #{$saturation}, #{$lightness})");
  #{$name}-h: #{$hue};
  #{$name}-s: #{$saturation};
  #{$name}-l: #{$lightness};
}

// Separate hue, sat., and lum.
@mixin defineColor($name, $color) {
  @include defineColorHSL(
    $name,
    color.hue($color),
    color.saturation($color),
    color.lightness($color),
  )
}

// Create different 'elevations' based on $bg-clr
@mixin surfaceColors($color) {
  @include defineColorHSL(
    --bg-clr,
    color.hue($color),
    color.saturation($color),
    color.lightness($color)
  );
  @include defineColorHSL(
    --surface-1-clr,
    color.hue(mix($color, #FFF, 95%)),
    color.saturation(mix($color, #FFF, 95%)),
    color.lightness(mix($color, #FFF, 95%)),
  );
  @include defineColorHSL(
    --surface-2-clr,
    color.hue(mix($color, #FFF, 93%)),
    color.saturation(mix($color, #FFF, 93%)),
    color.lightness(mix($color, #FFF, 93%)),
  );
  @include defineColorHSL(
    --surface-3-clr,
    color.hue(mix($color, #FFF, 91%)),
    color.saturation(mix($color, #FFF, 91%)),
    color.lightness(mix($color, #FFF, 91%)),
  );
  @include defineColorHSL(
    --surface-4-clr,
    color.hue(mix($color, #FFF, 89%)),
    color.saturation(mix($color, #FFF, 89%)),
    color.lightness(mix($color, #FFF, 89%)),
  );
}

// ########################################
// ####         FUNCTIONS FOR          ####
// ####        TWEAKING COLORS         ####
// ########################################
// Returns surface color at elevation levels (1-4)
@function dp($num: 1) {
  @if $num < 1 or $num > 4 {
    @warn 'DP value must be between 1 and 4. Value given: #{$num}';
    @return var(--bg-clr);
  }
  @return var(--surface-#{$num}-clr, var(--bg-clr));
}

// Returns a given color with a specified opacity
@function alpha($color, $opacity){
  $color: str-replace($color, 'var(');
  $color: str-replace($color, ')');
  $color-h: var(#{$color+'-h'});
  $color-s: var(#{$color+'-s'});
  $color-l: var(#{$color+'-l'});
  @return hsla($color-h, $color-s, $color-l, $opacity);
}

// Returns a lighter/darker variation of a given color
@function lightness($color, $lightnessMultiplier){
  $color: str-replace($color, 'var(');
  $color: str-replace($color, ')');
  $color-h: var(#{$color+'-h'});
  $color-s: var(#{$color+'-s'});
  $color-l: var(#{$color+'-l'});
  @return hsl($color-h, $color-s, calc(#{$color-l} * #{$lightnessMultiplier}));
}

// Returns a more/less saturated variation of a given color
@function saturation($color, $saturationMultiplier){
  $color: str-replace($color, 'var(');
  $color: str-replace($color, ')');
  $color-h: var(#{$color+'-h'});
  $color-s: var(#{$color+'-s'});
  $color-l: var(#{$color+'-l'});
  @return hsl($color-h, calc(#{$color-s} * #{$saturationMultiplier}), $color-l);
}

// ########################################
// ####            UTILITY             ####
// ####           FUNCTION(S)          ####
// ########################################
// Util function for dealing with strings
// credits: https://css-tricks.com/snippets/sass/str-replace-function/
@function str-replace($string, $search, $replace: '') {
  $index: str-index($string, $search);
  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
  }
  @return $string;
}