@use './variables' as *;

h1 {
  color: $fc-high-contrast;
  font-size: $fs-xl;
  font-weight: bold;
  font-family: $ff-title;
}

p {
  color: $fc-low-contrast;
  font-family: $ff-body;
  font-size: $fs-sm;
}